<link rel="stylesheet" href="main.min.css">
<script src="main.js"></script>
<div class="explanation" onclick="startAudio()">
    Due to autoplay being blocked by some browsers, please click me to start. 
</div>
<div class="_1">
    <audio controls autoplay loop>
        
        <source src="audio/coffee.wav"/>
    </audio>
    <div class="circle"></div>
</div>
<div class="_2">
    <audio controls autoplay loop>
        <source src="audio/fire.wav">
    </audio>
    <div class="circle"></div>
</div>
<div class="_3">
    <audio controls autoplay loop>
        <source src="audio/meditate.wav">
    </audio>
    <div class="circle"></div>
</div>
<div class="_4">
    <audio controls autoplay loop>
        <source src="audio/ocean.wav">
    </audio>
    <div class="circle"></div>
</div>