body {
    background: #37395d;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* in rem, (top, left) */
$coords: (
    (13, 13),
    (13, 36),
    (25, 21),
    (27, 35)
);

@for $i from 1 through length($coords) {
    $group: nth($coords, $i);
    $x: nth($group, 1);
    $y: nth($group, 2);

    ._#{$i} {
        position: absolute;
        top: #{$x}rem;
        left: #{$y}rem;    
        background: green;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.3;

        &:after {
            content: "#{$i}";
            font-size: 2rem;
            font-family: sans-serif;
        }

        .circle {
            border-radius: 999px;
            height: 416px; //26rem
            width: 416px; //26rem
            position: absolute;
            background: transparentize(teal, 0.5);
            opacity: 1;
        }

        audio {
            display: none;
            // z-index: 99;
            // position: fixed;

            // right: 1rem;
            // top: calc(#{$i}rem * 3.5);

        }

    }
}

.explanation {
    position: fixed;
    width: 20rem;
    font-family: sans-serif;

    padding: 0.5rem;
    border-radius: 5px;
    background: transparentize(#00f7ff, 0.5);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 99;

    &:hover {
        color: #d7f3e6;
        background: transparentize(#00f7ff, 0.2);
    }

    &:after {
        height: 100%;
        width: 100%;
        content: "";
        display: flex;
        background: rgba(0, 0, 0, 0.801);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
    
}