body {
  background: #37395d;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* in rem, (top, left) */
._1 {
  position: absolute;
  top: 13rem;
  left: 13rem;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

._1:after {
  content: "1";
  font-size: 2rem;
  font-family: sans-serif;
}

._1 .circle {
  border-radius: 999px;
  height: 416px;
  width: 416px;
  position: absolute;
  background: rgba(0, 128, 128, 0.5);
  opacity: 1;
}

._1 audio {
  display: none;
}

._2 {
  position: absolute;
  top: 13rem;
  left: 36rem;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

._2:after {
  content: "2";
  font-size: 2rem;
  font-family: sans-serif;
}

._2 .circle {
  border-radius: 999px;
  height: 416px;
  width: 416px;
  position: absolute;
  background: rgba(0, 128, 128, 0.5);
  opacity: 1;
}

._2 audio {
  display: none;
}

._3 {
  position: absolute;
  top: 25rem;
  left: 21rem;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

._3:after {
  content: "3";
  font-size: 2rem;
  font-family: sans-serif;
}

._3 .circle {
  border-radius: 999px;
  height: 416px;
  width: 416px;
  position: absolute;
  background: rgba(0, 128, 128, 0.5);
  opacity: 1;
}

._3 audio {
  display: none;
}

._4 {
  position: absolute;
  top: 27rem;
  left: 35rem;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

._4:after {
  content: "4";
  font-size: 2rem;
  font-family: sans-serif;
}

._4 .circle {
  border-radius: 999px;
  height: 416px;
  width: 416px;
  position: absolute;
  background: rgba(0, 128, 128, 0.5);
  opacity: 1;
}

._4 audio {
  display: none;
}

.explanation {
  position: fixed;
  width: 20rem;
  font-family: sans-serif;
  padding: 0.5rem;
  border-radius: 5px;
  background: rgba(0, 247, 255, 0.5);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 99;
}

.explanation:hover {
  color: #d7f3e6;
  background: rgba(0, 247, 255, 0.8);
}

.explanation:after {
  height: 100%;
  width: 100%;
  content: "";
  display: flex;
  background: rgba(0, 0, 0, 0.801);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
